*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /*border:solid;*/
}
.calculator {
    height: 100vh;
    width: 100%;
    background-image: url(static/images/istockphoto-1317323736-612x612.jpg);
    background-color: #aeff00;
    background-position: center;
    background-size: cover;
    position: relative;

}
.emissionInput {
    width: 80%; 
    max-width: 600px; 
    margin: 0 auto;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px; 
    background-color: #000000b0;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}
.emissionInput input[type="text"] {
    width: 100%; 
    color: black;
    max-width: 100%; 
    padding: 12px 20px; 
    font-size: 16px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}
.emissionInput button {
    width: 100%; 
    padding: 12px 20px; 
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer;
}

.emissionInput button:hover {
    background-color: #aeff00; 
    transition: 1s;
}

.CalculatorHeader{
    
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 80%; 
    max-width: 600px; 
    margin: 0 auto; 
}
