<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Carbon emissions calculator</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Roboto+Mono:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
</head>

<body class="homepage">
    <section class="header">
    <nav>
        
        <div class="nav-links">
            <ul>
             <!--   <li><a href="">ABOUT</a></li> 
                <li><a href="home.html">HOME</a></li>
                <li><a href="how_to_reduce_emissions.html">Tips To Reduce Emissions</a></li>    
                <li><a href="">Bruno is a biiiiiiitch</a></li>
              -->
            </ul>
        </div>
    </nav>
<div class="text-box">
    <h1>Count your Carbon</h1>
    <p>Curious about your CO<sub>2</sub> emmissions?<br>Use this calculator to get data<br></p>
    <a href="calculator" class="hero-btn">Calculate</a>
</div>
</section>
<!--How to Reduce Emissions-->
<!--
<section class="reduce_emissions">
    <h1>Tips on reducing your emissions</h1>
    <p>Test text</p>
</section>
-->
</body>
</html>


